/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#messagesList {   
    width: 100%;
    margin: 1rem 0 .5rem 0;
    padding-right: .25rem;
    font-size: 1.5rem;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    position: fixed; 
    right: 0;
    bottom: 30%;   
    width: 395px;
    float: right;    
}

.message {
    background-color: #0f2745;
    color: #ffa03a;
    margin: 0 0 .5rem 0;
    padding-left: 1rem;
    padding-right: .25rem;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
