@{
    ViewData["Title"] = "Home Page";
}

<div class=messageContainer>
    <ul id="messagesList"></ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>